[submodule "openweather-node"]
	path = openweather-node
	url = https://github.com/Heavenwalker/techsaloniki-consumer.git
[submodule "openweather-quarkus"]
	path = openweather-quarkus
	url = https://github.com/Heavenwalker/openweather.git
